<ion-content color="success">
  <form>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col>
          <div class="head-l">
            <h3>Mobile Identity</h3>
          </div>
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <ion-col>
          <ion-button routerLink="/login">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button routerLink="/register">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>